name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.11
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Lint
        run: pre-commit run --all-files

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.11
      - name: Install requirements
        run: pip install -r requirements.test.txt
      - name: Run unittests
        run: pytest tests --cov=custom_components --cov-branch --cov-report xml
      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          format: markdown
          fail_below_min: true
          hide_complexity: true
          thresholds: "90 100"
          output: both
      - name: Add Test Summary
        run: |
          cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

  verify_hacs:
    needs: [pre-commit, test]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: "integration"
  validate-hassfest:
    needs: [pre-commit, test]
    runs-on: ubuntu-latest
    name: "Hassfest"
    steps:
      - uses: actions/checkout@v4
      - name: "Validate Hassfest"
        uses: home-assistant/actions/hassfest@master
